####### TEST #######
[TEST_Get_MWCode]
className=MWCode
mwcode=US01
system_name=TEST
result=true

[TEST_Check_Processing]
className=jdbc.DatabaseExecutor
query=select case when one=two and two=three then 1 else 0 end from (select count(*) as one from SCHSCHDTASKEXEC_QH where qhoutcome ='STARTED' and (QHSCHTASKNAME like '%rocessing%' or qhtaskname like '%rocessing%')) a, (select count(*) as two from d_data_owner_processing where status='RUNNING') b, (select count(*) as three from monsyststatus_mu where mustatus='BEING_PROCESSED') c
message=Processing information in MIM, scheduler and database doesnt match, monitor the system and act if the situation persists for more than 2 hours. 
refval=1
compare=equal
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Activity_Log]
className=jdbc.ActivityLog
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Batch_Log]
className=jdbc.BatchLog
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Failed_Scheduled_Tasks]
className=jdbc.ScheduledTaskFailures
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Interface_Delay_Check]
className=jdbc.DatabaseExecutor
refval=0
compare=equal
query=SELECT count(*) FROM INTERFINST_II II JOIN INTERFACE_IR IR ON IR.IRID=II.IRID WHERE IR.IRINTTYP = 'BATCH_S3' and iidelay < 60000
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Document_Log]
className=jdbc.DocumentLog
system_name=TEST
databaseType=POSTGRES
pw_link=https://passwords/pid=5678

[TEST_Listener_Watcher]
className=http.SpringBeanIgnite
spring-bean=ListenerManager.getNumberOfListeners()-ListenerManager.getNumberOfRunningListeners()
expected_result=0
system_name=TEST
pw_link=https://passwords/pid=1234

[TEST_Login]
className=http.GIMLogin
system_name=TEST
pw_link=https://passwords/pid=1234

[TEST_Uptime]
className=http.UptimeIgnite
uptime=2h
compare_uptime=longer
system_name=TEST
pw_link=https://passwords/pid=1234

[TEST_SchedulerStatus]
className=http.SchedulerStatus
paused=false
system_name=TEST
pw_link=https://passwords/pid=1234

#